.map_label {
  font-size: 14px;
  padding: 0.1em;
  cursor: default;
  position: absolute;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(118, 129, 168, 0.7);
  z-index: 0;
  display: block;
  width: 150px;
  height: 28px;
}

.overlay_container {
  z-index: -1;
  font-size: 14px;
  border: 1px solid #bababa;
  border-radius: 4px;
  background: white;
  width: 100%;

  .title_wrapper {
    padding: 0.5em;

    .title {
      font-weight: 600;
    }
  }

  .content_wrapper {
    background: #f1f1f1;
    padding: 0.5em;
  }
}
